.row
  .col-xs-6
    = "started #{time_ago_in_words(hustle.created)}"
  .col-xs-6
    = "#{number_to_human(hustle.deeds.count)} deeds done"
.row
  .col-xs-6
    = link_to 'view deeds', hustle
  .col-xs-6
    = link_to 'destroy', hustle, :method => :delete, :data => { :confirm => 'Are you sure?' }
.row
  .col-xs-12
    = link_to 'do a deed', new_hustle_deed_path(hustle)
