%tr
  %td= hustle.name
  %td= hustle.created
  %td= hustle.modified
  %td= link_to 'Show', hustle
  %td= link_to 'Edit', edit_hustle_path(hustle)
  %td= link_to 'Destroy', hustle, :method => :delete, :data => { :confirm => 'Are you sure?' }
