%p#notice= notice

= render partial: 'deed_filters'

.panel-group.hustle-header
  .panel.panel-default
    .panel-heading
      .row
        .col-xs-4
          %b
            = @hustle.name
        .col-xs-4.text-center
          = link_to 'do a deed', new_hustle_deed_path(@hustle)
        .col-xs-4.text-right
          %small
            = "#{@hustle.total_points} points"

.hustle-deeds
  - @hustle.deeds.order(:finished_at).reverse.each do |deed|
    .deed-blob{ data: deed.to_h }
      = deed_blob deed

-#= link_to 'Edit', edit_hustle_path(@hustle)
-#\|
%p
  = link_to 'Back', hustles_path
