%p#notice= notice

%p
  %b Name:
  = @hustle.name
%p
  %b Created:
  = @hustle.created
%p
  %b Modified:
  = @hustle.modified
%p
  %b Total points:
  = @hustle.total_points

%table
  %thead
    %th Name
    %th When
    %th Points
  %tbody
    - @hustles.deeds.each do |deed|
      = render partial: :deed, locals: { deed: deed }

= link_to 'Edit', edit_hustle_path(@hustle)
\|
= link_to 'Back', hustles_path
