.panel-group
  .panel.panel-default
    .panel-heading
      .row
        .col-xs-4
          = live_label @hustle, :name, :patch, hustle_path(@hustle), options: { enter_trigger: false }
        .col-xs-4.text-center
          = link_to 'do a deed', new_hustle_deed_path(@hustle)
        .col-xs-4.text-right
          %small
            = "#{@hustle.total_points} points"

= render partial: 'shared/glob', locals: { glob: @hustle }

%p
  = link_to 'Back', hustles_path
