.panel-group
  .panel.panel-default
    .panel-heading
      .row
        .col-xs-4
          -# %b
          -#   = @hustle.name
          -#   %a
          -#     .glyphicon.glyphicon-pencil
        .col-xs-4.text-center
          = link_to 'do a deed', new_hustle_deed_path(@hustle)
        .col-xs-4.text-right
          %small
            = "#{@hustle.total_points} points"

= render partial: 'shared/live_label', locals: { model: @hustle, attrib: :name, url: hustle_rename_path(@hustle) }
%hr

= render partial: 'shared/glob', locals: { glob: @hustle }

%p
  = link_to 'Back', hustles_path
