%h1 Listing users

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= link_to 'show', user
        %td= link_to 'edit', edit_user_path(user)
        %td= link_to 'eestroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'new user', new_user_path
