= form_for [@hustle, @deed] do |f|
  - if @deed.errors.any?
    #error_explanation
      %h2= "#{pluralize(@deed.errors.count, "error")} prohibited this deed from being saved:"
      %ul
        - @deed.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :desc, 'this is'
    = f.select :state, options_for_select([['an idea', :thought], ['what i\'m doing', :active], ['something i did', :done]])
  .field
    = f.label :hustle
    %input{ type: :text, disabled: :disabled, value: @hustle.name }
  .field
    = f.label :desc
    = f.text_area :desc
  .field
    = f.label :points
    = f.number_field :points, value: 1, options: { width: 2 }
  .actions
    = f.submit 'Save'
