%h1 Listing deeds

%table
  %thead
    %tr
      %th Hustle
      %th Desc
      %th Started
      %th Finished
      %th Points
      %th
      %th
      %th

  %tbody
    - @deeds.each do |deed|
      %tr
        %td= deed.hustle
        %td= deed.desc
        %td= deed.started_at
        %td= deed.finished_at
        %td= deed.points
        %td= link_to 'show', deed
        %td= link_to 'edit', edit_deed_path(deed)
        %td= link_to 'sestroy', deed, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Deed', new_deed_path
