%p#notice= notice

%p
  %b Hustle:
  = @deed.hustle
%p
  %b Desc:
  = @deed.desc
- if @deed.started?
  %p
    %b Started:
    = @deed.started_at
- if @deed.done?
  %p
    %b Finished:
    = @deed.finished_at
%p
  %b Points:
  = @deed.points

= link_to 'Edit', edit_deed_path(@deed)
\|
= link_to 'Back', hustle_deeds_path(@hustle)
