.panel-group
  .panel.panel-default
    .panel-heading
      .row
        .col-xs-4
          %b
            = @roll.name
            %a
              .glyphicon.glyphicon-pencil
        .col-xs-8.text-right
          %small
            = roll_description @roll

.chartbox
  = pie_chart @points_in_states

%hr

= render partial: 'shared/glob', locals: { glob: @roll }

%p
  = link_to 'Back', hustles_path
