!!!

%html
  %head
    = stylesheet_link_tag bootstrap_css_url
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %title HustleTracker 3000

  %body

    - if flash[:alert].present?
      %p
        %text{ color: :red }
          = flash[:alert]
    - if flash[:notice].present?
      %p
        = flash[:notice]

    .container
      = render partial: 'shared/pill', locals: { panel_id: :test, head_right: 'right', head_left: '15', body: 'shared/test' }
      = yield

    = javascript_include_tag bootstrap_js_url
