!!!

%html
  %head
    = stylesheet_link_tag bootstrap_css_url
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"

    %title HustleTracker 3000

  %body
    .container
      .row
        .col-lg-2.col-xs-0
        .col-lg-8.col-xs-12.main-stripe
          - if flash[:alert].present?
            .panel-group
              .panel.panel-default
                .panel-heading
                  %text{ color: :red }
                    = flash[:alert]
          - if flash[:notice].present?
            .panel-group
              .panel.panel-default
                .panel-heading
                  = flash[:notice]
          = yield
        .col-lg-2.col-xs-0
      %hr
      %footer
        %small.text-center{ color: :gray }
          hustle tracker 3000
          = "\u00A9"
          2016 Xander Flood

        .col-md-3.col-md-0

    = javascript_include_tag bootstrap_js_url