!!!
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %title HustleTracker 3000

  %body

    - if flash[:alert].present?
      %p
        %text{ color: :red }
          = flash[:alert]
    - if flash[:notice].present?
      %p
        = flash[:notice]

    = yield
